@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "typeface-roboto";
body {
  font-family: "Roboto", sans-serif;
}

@layer components {
  .container-xl {
    width: 1200px;
  }
  .loading-1 {
    animation: loading-1 0.6s ease infinite;
  }

  .loading-2 {
    animation: loading-2 0.6s ease infinite;
  }
}

@keyframes loading-1 {
  0% {
    left: 0;
  }

  50% {
    left: 50%;
  }

  to {
    left: 0;
  }
}

@keyframes loading-2 {
  0% {
    left: 50%;
    z-index: 1;
  }

  49% {
    z-index: 1;
  }

  50% {
    left: 0;
    z-index: 10;
  }

  to {
    left: 50%;
    z-index: 10;
  }
}
